.footer {
    padding: 40px 0 10px;
    text-align: center;
    background-color: var(--clr-bg-section);
    border-top: 1px solid var(--clr-border);
}

.footer-name {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    margin-bottom: 5px;
}

.footer-role {
    color: var( --clr-text-main);
    font-size: var(--fs-text-md);
    margin-bottom: 30px;
}

.footer-copyright {
    color: var( --clr-text-main);
    font-size: var(--fs-text-sm);
}