*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-main);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    line-height: 1.6;
    overflow-x: hidden;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
} 

button {
    cursor: pointer;
    border: none;
    background: none;
    font: inherit;
}

input,
textarea,
select,
button {
    font: inherit;
    outline: none;
}

section {
    width: 100%;
}

.container {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 20px;
}
